@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "esqueceu sua senha?";
}

<div class="custom-container d-flex flex-column justify-content-center align-items-center min-vh-100">
    <h1 class="custom-title text-center">Esqueceu a senha?</h1>
    <h2 class="custom-subtitle text-center">Entre com seu email</h2>
    <hr class="custom-divider w-50" />

    <div class="row justify-content-center">
        <div class="passwordEmail">
            <form method="post" class="custom-form">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="custom-form-group mb-3">
                    <input asp-for="Input.Email" class="custom-input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="resetPassword">
                    <button type="submit" class="custom-button btn btn-lg">Redefinir Senha</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
