@model ProjetoAllVoyaje.Models.PacoteCliente

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_quatro.cshtml";
}

<h1>Edit</h1>

<h4>PacoteCliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PacoteClienteId" />
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacoteViagemId" class="control-label"></label>
                <select asp-for="PacoteViagemId" class="form-control" asp-items="ViewBag.PacoteViagemId"></select>
                <span asp-validation-for="PacoteViagemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdPessoas" class="control-label"></label>
                <input asp-for="QtdPessoas" class="form-control" />
                <span asp-validation-for="QtdPessoas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" id="BotaoNormal" class="btn btn-primary" />
                <a asp-action="Index" style="text-decoration: none; color: black">Voltar para a Lista</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
